{% extends "partials/base.html" %}

{% block title %}
  Project detail | {{ project.name }}
{% endblock title %}

{% block content %}
  <h2>Details</h2>
  <h1>{{ project.name }}</h1>
  Team members:
  {% for p_member in project.project_members %} 
    {{ p_member.username }} 
  {% endfor %}
  <div>
      {% if post.author == request.user %}
          <a>Update</a>
          <a>Delete</a>
      {% endif %}
  </div>

  {% if not post.author == request.user %}
      <h1>Add a comment</h1>

  {% endif %}

  <h2>
    Unresolved bugs:
    {% comment %} {{ unresolved_bugs }} {% endcomment %}
    {{ project.unresolved_bugs | length }}
  </h2>

  {% for project_bug in project.unresolved_bugs %}
    <div>{{ project_bug.name }}</div>
  {% endfor %}

  <h2>
      Resolved bugs:
      {% comment %} {{ resolved_bugs }} {% endcomment %}
      {{ project.resolved_bugs | length }}
  </h2>
{% for project_bug in project.resolved_bugs  %}
  <div><a href="{{ project_bug.get_absolute_url }}">{{ project_bug.name }}</a></div>
{% endfor %}


<hr>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit"  value="add bug">
</form>
{% endblock content %}
