{% extends 'partials/base.html' %}

{% block title %}
  Bugtracker 
{% endblock title %}


{% block content %}
<div class="container">
  <h1>Projects</h1>    

<table class="table">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Name</th>
      <th scope="col">Lead</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects  %}
      <tr>
        <td>{{ project.created }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.lead }}</td>
        <td><a href="{{ project.get_absolute_url }}">Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}