{% extends 'partials/base.html' %}

{% block title %}
  Bugtracker 
{% endblock title %}


{% block content %}

  <h1>Projects</h1>    

  {% for project in projects  %}
    <div>
      <div>
        <h2>Created: {{ project.created }}</h2>
      </div>
      <div>
        <h2>{{ project.name }}</h2>
        <p>Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
        <a href="{{ project.get_absolute_url }}">Details</a>
      </div>
    </div>
  {% endfor %}

{% endblock content %}