{% extends 'partials/base.html' %}

{% block title %}
  Bugtracker 
{% endblock title %}


{% block content %}

  <h1 class="text-5xl font-medium leading-tight mt-0 mb-2 ">Projects</h1>    

  {% for project in projects  %}
    <div>
      <div>
        <h2>Created:</h2>
        <span>{{ project.created }}</span>
      </div>
      <div>
        <h2>{{ project.name }}</h2>
        <p>Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
        <a href="{% url 'project-detail' project.id %}">Details</a>
      </div>
    </div>
  {% endfor %}

{% endblock content %}